/*
Theme Name:  Unika
Theme URI: http://underscores.me/
Author: Hudson Carolino
Author URI: http://hudsoncarollino.com.br
Description: Unika.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Unika
Tags:

--------------------------------------------
ESTRUTURAÇÃO BASE (Hudson Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/
*{
	margin: 0;
	padding: 0;
}
body{
    background: #031027;
    font-family: 'Roboto', sans-serif;
}
.pg-embreve{

}
.titulo2{
	display: none;
}
	.pg-embreve .background{
		height:1264px;
		overflow: hidden;
	}
		.pg-embreve .logo{
			

		}
	.pg-embreve .areaTexto{
		position: relative;
	}
		.pg-embreve .areaTexto .formulario{
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			background: #031027cc;
			height: 100%;
			padding-top: 20%;
			z-index: 2;
			display: none;
			padding: 15px;
		}
			.pg-embreve .areaTexto .formulario .form{
				max-width: 500px;
				margin: 0 auto;
				position: relative;
				
			}
				.pg-embreve .areaTexto .formulario .form .fechar{
					color: #fff;
					float: right;
					font-size: 30px;
					cursor: pointer;
				}	
			.pg-embreve .areaTexto .formulario h6{
				text-align: center;
				color: #fff;
				text-transform: uppercase;
				font-size: 25px;
			}
			.pg-embreve .areaTexto .formulario input[type='text']{
				display: block;
				background: #031027e8;
				border: none;
				border: solid 1px #fff;
				width: 100%;
				max-width: 500px;
				height: 40px;
				margin: 20px auto;
				padding: 10px;
				color:#fff;
			}
			.pg-embreve .areaTexto .formulario input[type='submit']{
				margin-top: 10px;
				padding: 10px 30px;
				background: #fff;
				border: none;
				color: #0B85F4;
				text-transform: uppercase;
				border-radius: 5px;
			}	
			.pg-embreve .areaTexto .formulario input{
				outline: none;
			}
			.pg-embreve .areaTexto .formulario input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
			  color: #fff;
			  
			}
			 
			.pg-embreve .areaTexto .formulario input:-moz-placeholder { /* Firefox 18- */
			  color: #fff;
			  
			}
			 
			.pg-embreve .areaTexto .formulario input::-moz-placeholder {  /* Firefox 19+ */
			  color: #fff;
			 
			}

			 
			.pg-embreve .areaTexto .formulario input:-ms-input-placeholder { /* IE10+ */ 
			  color: #6db5f1;
			  font-style: italic; 
			}
			.pg-embreve .areaTexto .formulario textarea{
				display: block;
				background: #031027e8;
				border: none;
				border: solid 1px #fff;
				color: #fff;
				margin: 0 auto;
				width: 100%;
				max-width: 500px;
				padding: 10px;
				outline: none;
				height: 150px;
			}
			.pg-embreve .areaTexto .formulario textarea::-webkit-input-placeholder { /* Chrome, Safari, Opera */
			  color: #fff;
			  
			}
			 
			.pg-embreve .areaTexto .formulario textarea:-moz-placeholder { /* Firefox 18- */
			  color: #fff;
			  
			}
			 
			.pg-embreve .areaTexto .formulario textarea::-moz-placeholder {  /* Firefox 19+ */
			  color: #fff;
			 
			}
		.pg-embreve .areaTexto .logo{
			position: fixed;
			top: 41px;
			right: 70px;
			max-width: 143px;
			display: block;
			height: auto;
			z-index: 999;
		}
	.pg-embreve .areaTexto{
		width: 100%;	
		background-color: #031027;
		padding-top: 120px;
	    padding-left: 110px;
	    padding-bottom: 50px;
	}
		.pg-embreve .areaTexto hr{
			height: 1px;	
			width: 97px;	
			background-color: rgba(216,216,216,0.7);
			margin-bottom: 63px;
		}

		.pg-embreve .areaTexto h1{
			color: #0B85F4;	
			font-family: Roboto;	
			font-size: 14px;	
			font-weight: bold;	
			letter-spacing: 1px;	
			line-height: 19px;
			text-transform: uppercase;
			margin: 0;
			margin-bottom: 50px;
		}
		.titulos{
			 min-height: 191px;
		}
		.pg-embreve .areaTexto h2{
			color: #FFFFFF;	
			font-family: Roboto;	
			font-size: 72px;	
			font-weight: bold;	
			letter-spacing: 1px;	
			line-height: 95px;
			max-width: 690px;
			margin: 0;
			margin-bottom: 65px;
			   
		}
		.pg-embreve .areaTexto p{
			min-height: 117px;
			max-width: 661px;	
			color: rgba(255,255,255,0.7);	
			font-family: Roboto;	
			font-size: 16px;	
			letter-spacing: 1px;	
			line-height: 39px;
			margin: 0;
		}
	.pg-embreve .areaTexto .link{
		margin-top: 60px;
	    margin-bottom: 60px;
	}
		.pg-embreve .areaTexto .link a,span{
			height: 57px;	
			width: 100%;
			max-width: 219px;	
			border-radius: 30.5px;	
			background-color: #0B85F4;
			font-family: Roboto;	
			font-size: 14px;	
			font-weight: bold;	
			letter-spacing: 1px;	
			line-height: 57px;
			color: #FFFFFF;
			display: inline-block;
    		text-align: center;
    		text-transform: uppercase;
    		margin: 10px 5px;
    		text-decoration: none;
    		border: solid 1px transparent;
    		transition:All .5s ease;
    		-webkit-transition:All .5s ease;
    		-moz-transition:All .5s ease;
    		-o-transition:All .5s ease;
    		cursor: pointer;
		}
			.pg-embreve .areaTexto .link a:hover{
				background: #031027;
				border-color:#fff;
				transition:All .5s ease;
				-webkit-transition:All .5s ease;
				-moz-transition:All .5s ease;
				-o-transition:All .5s ease;
			}
			.pg-embreve .areaTexto .link span:hover{
				background: #031027;
				border-color:#fff;
				transition:All .5s ease;
				-webkit-transition:All .5s ease;
				-moz-transition:All .5s ease;
				-o-transition:All .5s ease;
			}
	.pg-embreve .areaTexto .contato a{
		color: #FFFFFF;	
		font-family: Roboto;	
		font-size: 16px;	
		letter-spacing: 1px;	
		line-height: 21px;
	}
		.pg-embreve .areaTexto .contato p{
			display: none;
			font-size: 15px;
			color: rgba(255,255,255,0.7)
		}
	.pg-embreve .enderecoRedessociais{
	
	}
		.pg-embreve .enderecoRedessociais p{
			font-size: 15px;
			color: rgba(255,255,255,0.7);
			transform: rotate(-90deg);
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			position: absolute;
			bottom:53%;
			right: -110px;
		}
		.pg-embreve .enderecoRedessociais .redesociais{
			position: absolute;
			bottom: 38px;
			right: 70px;
		}
			.pg-embreve .enderecoRedessociais .redesociais a{
				height: 35px;	
				width: 35px;
				display: block;
				border: solid 2px #fff;
				text-align: center;
				color: #fff;
				border-radius: 100%;
				line-height: 32px;
				font-size: 19px;
				margin-bottom: 18px;
			}
				.pg-embreve .enderecoRedessociais .redesociais a:hover{
					webkit-animation: swing 1s ease;
					animation: swing 1s ease;
					-webkit-animation-iteration-count: 1;
					animation-iteration-count: 1;
				}
			.pg-embreve .enderecoRedessociais .redesociais a i{
				
			}
/* EXTRAS */
	::-webkit-scrollbar{
		background:#fff;width:4px;
	}
	::-webkit-scrollbar-thumb{
		background:#666;
		-webkit-border-radius:2px;
	}
	.pg-embreve .background .logo{
		display: none;
	}
/* MEDIA */
	@media(max-width: 1580px){
		.pg-embreve .areaTexto{
			padding-left: 50px;
		}
		.pg-embreve .enderecoRedessociais .redesociais{
			right: 25px;
		}
		.pg-embreve .enderecoRedessociais p{
			right: -165px;
		}
	}
	@media(max-width: 1440px){
		.pg-embreve .areaTexto h2{
			font-size: 40px;
			line-height: 64px;
			max-width: 466px;	
			margin-bottom: 25px;
		}
		.pg-embreve .areaTexto .link {
		    margin-top: 50px;
		    margin-bottom: 30px;
		}
		.titulos {
			min-height: 129px;
		}
	}
	@media(max-width: 1400px){
		.pg-embreve .areaTexto{
		    padding-left: 25px;
		}
		.pg-embreve .areaTexto h2{
		    font-size: 60px;
		    line-height: 67px;
		}
		.titulos {
			min-height: 129px;
		}
	}
	@media(max-width: 1366px){
		.pg-embreve .areaTexto h2 {
			font-size: 40px;
			line-height: 59px;
		}
		.pg-embreve .areaTexto h1 {

			margin-bottom: 35px;
		}
		.pg-embreve .areaTexto{
		    padding-top: 35px;
		}
		.pg-embreve .areaTexto .logo{
		    top: 43px;
		}
		.pg-embreve .enderecoRedessociais p{
			display: none;
		}
		.pg-embreve .areaTexto .contato p{
			display: block;
		}
		.pg-embreve .areaTexto p{
			min-height: 0;
		}
		#text{
		    min-height: 130px;
		}
		.titulos {
		    min-height: 119px;
		}
		.pg-embreve .areaTexto .link{
		    margin-bottom: 30px;
		}
		.pg-embreve .areaTexto hr{
			margin-bottom: 40px;
		}
	}
	@media(max-width: 1300px){
		.titulos{
			 min-height: 0;
		}
	}
	@media(max-width: 1024px){
		.pg-embreve .areaTexto p{
		    min-height: 0;	
		}
		.pg-embreve .areaTexto h2{
			font-size: 38px;
			line-height: 40px;
		}
		.pg-embreve .areaTexto hr{
		    margin-bottom: 35px;
		}
	}
	@media(max-width: 1040px){
		.pg-embreve .areaTexto p{
			padding-right: 64px;
			line-height: 20px;
		}
	}
	@media(max-width: 991px){
		.pg-embreve .areaTexto h2 {
			font-size: 41px;
			line-height: 63px;
		}	
		.pg-embreve .areaTexto .link a,span{
		    max-width: 193px;
		}
		.pg-embreve .areaTexto{
			padding-top: 100px;
		}
	}
	@media(max-width: 768px){
		.pg-embreve .enderecoRedessociais .redesociais{
			bottom: 0;
			right: inherit;
			left: 20px;
		}
		.pg-embreve .enderecoRedessociais .redesociais a{
			display: inline-block;
		}
		.pg-embreve .areaTexto{
			min-height: 825px;
		    padding-bottom: 70px;
		}
		.pg-embreve .background{
			min-height: 825px;
		}
		.pg-embreve .areaTexto .link{
		    margin-bottom: 30px;
		}
		.pg-embreve .areaTexto h2 {
	   		font-size: 29px;
	    	line-height: 48px;
		}
	}
	@media (max-width: 440px) {
		.pg-embreve .areaTexto h2 {
			font-size: 26px;
			line-height: 37px;
		}
		.pg-embreve .areaTexto p{
			padding: 0;
			max-width: 100%;
		}
		.pg-embreve .areaTexto{
			padding-left: 20px;
			padding-right: 20px;
		}
		.pg-embreve .areaTexto .link a,span{
			max-width: 100%;
		    margin: 10px 0;
		}
		.pg-embreve .areaTexto .link{
			margin-top: 60px;
		    margin-bottom: 50px;
		}
		.pg-embreve .background{
		    min-height: 200px;	
		    height: 200px!important;	
		}
		.pg-embreve .background .logo {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 99;
			max-width: 200px;
			display: block;
		}
		.pg-embreve .areaTexto .logo {
		   display: none;
		}
		.pg-embreve .areaTexto{
			min-height: 800px;
		}
		.pg-embreve .areaTexto {
			padding-top: 30px;
		}
	}


#particle-canvas {
  width: 100%;
  height: 100%;
}
.canvas{
	 height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}